# OpenOCD configuration for STM32F103C8T6 (Blue Pill) via ST-LINK
# SWD interface: PA13 (SWDIO) + PA14 (SWCLK)

source [find interface/stlink.cfg]
source [find target/stm32f1x.cfg]

# Uncomment the line below if using a Chinese clone ST-LINK that needs this quirk
# adapter speed 1000
